/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Munro';
  src: url('/fonts/munro/Munro.ttf');
}

@font-face {
  font-family: 'MunroSmall';
  src: url('/fonts/munro/MunroSmall.ttf');
}
